:root {
  --button-bg: #109a03;
  --button-active-bg: #681d9b;
  --small-button-bg: #019c70;
  --small-button-active-bg: #019c70;
  --button-text: #ffffff;
  --card:  #03631d;
  --accountText: #ffffff;
  --statusText: #ffffff;
  --bg-gradient_1: #0c6e9b;
  --bg-gradient_2: rgb(182, 26, 39);
  --gradient_1: #E3C6AD;
  --gradient_2: #73A788;
  --gradient_3: #478966;
  --success: #106823;
  --warning: #ca5824;
  --error: #ca2f24;
  --errorColor: #ec766e;
}

* {
  font-family: "MyFont", monospace;
  font-size: 12px;
  font-weight: bold;
}

html,
body {
	/* background: #b42fb6 ; */

  /* background: linear-gradient(
    to right,
    var(--bg-gradient_1),
    var(--bg-gradient_2)
  ); */
/* 
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ff0000 50%,
    #0800ff 50%,
    #0800ff 100%
  ); */
  background: linear-gradient(
    to right,
    #2822d6 0%,
    #2822d6 50%,
    #971b1b 50%,
    #971b1b 100%
  );
  /* background: linear-gradient(
    to right,
    var(--bg-gradient_1) 0%,
    var(--bg-gradient_1) 50%,
    var(--bg-gradient_2) 50%,
    var(--bg-gradient_2) 100%
  ); */
	color: rgb(255, 255, 255);
	font: 100% MyFont;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
    
 
}

.blurred-image {
  /* The image used */
  background-image: url("/src/assets/ArenaImage.png");
  
  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #0800ff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ff0000;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/****************************************/
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../fonts/PixelOperator.ttf) format('ttf');
}

@font-face {
  font-family: 'slapstick';
  src: local('SlapstickComic'), url(../fonts/SF-Slapstick-Comic-Oblique.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'slapstickShaded';
  src: local('SlapstickComicShaded'), url(../fonts/SF-Slapstick-Comic-Shaded-Oblique.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes gradient { 
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
}

.colorGradient {
  background: linear-gradient(
      to bottom,
      var(--gradient_1) 0%,
      var(--gradient_2) 65%,
      var(--gradient_3) 100%
    )
    fixed;
}

.page {
  min-height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 300px;
  transition: 0.3s;
  margin: 30px;
  margin-top: 160px;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_header {
  height: 110px;
  width: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.card_header_image {
  position: absolute;
  border-radius: 20%;
  width: 100%;
  margin-bottom: 70px;
}

.card_body {
  padding: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_body_view_contract {
  padding-right: 15px;
  padding-left: 15px;
}

.card_footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spin {
  animation: item-spin infinite 20s linear;
}

.statusText {
  color: var(--statusText);
  font-weight: normal;
  text-align: center;
  /* font-family: 'slapstick';
  letter-spacing: 1px; */
}

.accountText {
  color: var(--accountText);
  font-weight: bold;
  margin-top: 25px;
  margin-right: 10px;
}

.ns {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

._90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(9
  0deg);
  -ms-transform: rotate(90deg);
  transform: rotate(-90deg);
}

.button {
  display: inline-block;
  padding: 7px 14px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--button-text);
  background-color: var(--button-bg);
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 2px;
}

.coming-soon-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button:disabled {
  opacity: 0.5;
}

.button:active {
  background-color: var(--button-active-bg);
}

.small_button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--button-text);
  background-color: var(--small-button-bg);
  border: none;
  border-radius: 15px;
  margin-bottom: 2px;
}

.small_button:disabled {
  opacity: 0.5;
}

.small_button:active {
  background-color: var(--small-button-active-bg);
}

.logo_image {
  width:100%;
}

.player_image_wrapper {
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.player_image:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3); 
}

.spinner-loader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid rgb(0, 0, 0);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}  



@keyframes item-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaderboard-button{
  background-color: #fcff41;
}
.leaderboard-button:hover {
  background-color: #fbff00;
  transition: 0.1s;
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01); 
}
/* 
@media (max-width: 600px) {
  body {
    background: linear-gradient(
      to right,
      #069149 0%,
      #09d231 50%,
      #971b1b 50%,
      #971b1b 100%
    );
    color: rgb(255, 255, 255);
    font: 100% MyFont;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
} */

