.fail-connect{
    background-color: #fffff1;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    z-index: 1;
    display: flex;
    border-radius: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    aspect-ratio: 1.1/1;
    padding: 30px 43px 10px;
    max-width: 98vw;
}

.fail-connect-exit{
    position: absolute;
    right: 31px;
    top: 30px;
    cursor: pointer;
}
.fail-connect-exit:hover{
    transform: scale(1.07);
}

.fail-connect-go-back{
    position: absolute;
    left: 31px;
    top: 30px;
    cursor: pointer;
}
.fail-connect-header{
    font-size: 1.75rem;
    font-weight: 500;
}
.fail-connect-text{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
.fail-connect-btn{
    color: #ffffff;
    background-color: #FF6D44;
    width: 100%;
    border-radius: 8px;
    height: 15%;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fail-connect-btn:hover{
    background-color: #fd815e;
}

.fail-connect-footer{
    font-size: 1.2rem;
    font-weight: 700;
    color: #FF6D44;
    cursor: pointer;
}
.fail-connect-footer:hover{
    color: #fd815e;
}
