.upgrade-confirm {
  background: url("../../assets/pic/frame.png");
  background-size: 100% 100%;
  aspect-ratio: 1/1;
  height: 72%;
  max-width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14% 5% 0%;
  position: relative;
}

.upgrade-frame {
  background: url("../../assets/pic/product-frame.png");
  background-size: 100% 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 54%;
  left: 50%;
  height: 70%;
  max-width: 95vw;
  aspect-ratio: 1/1.2;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 1.125rem;
  align-items: center;
}

.upgrade-product{
    margin-top: 14%;
}

.upgrade-poduct-img{
    margin-top: 4%;
    height: 20%;
    cursor: pointer;
    width: fit-content;
}
.upgrade-poduct-img:hover{
  transform: scale(1.05);
}

.upgrade-plarer{
    margin-top: 4%;
}

.bold-txt {
  font-weight: 700;
  letter-spacing: 1px;
}

.upgrade-player-img {
    height: 23%;
    margin-top: 4%;
    cursor: pointer;
    width: fit-content;
}
.upgrade-player-img:hover{
  transform: scale(1.05);
}

.buy-btn {
  position: absolute;
  transform: translate(-50%);
  top: 89%;
  left: 50%;
  height: 14%;
}

.go-back-btn {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%;
}