.overview {
  background: #a7a6a6 url("../../assets/pic/overview-background.png");
  height: 100%;
  width: 100%;
  background-position: 50%, 50% !important;
  background-size: cover !important;
}

.overview-header {
  position: absolute;
  transform: translate(-50%);
  top: 13%;
  left: 50%;
  height: 13%;
}

/* .overview-main-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 37%;
  left: 50%;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 42px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 10%), -2px -2px 4px rgb(0 0 0 / 10%);
} */
.overview-rabbit-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 38%;
  left: 20%;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 39px;
  color: #ffd36b;
}
.overview-turtle-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 38%;
  left: 82.5%;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 39px;
  color: #ffd36b;
  width: max-content;
}
.overview-score {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 47%;
  left: 50%;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 54px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 10%), -2px -2px 4px rgb(0 0 0 / 10%);
}
.overview-score-rabbit {
  color: blue;
}
.overview-score-turtle {
  color: red;
}

.overview-all-data {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.overview-data {
  position: relative;
  height: 5vh;
  margin-bottom: 1%;
}
.data-rabbit {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 38%;
  left: 9.5%;
}
.data-turtle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 90%;
}
.data-sector {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

.overview-all-players {
  height: 32%;
  width: 90%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 56%;
  background: rgba(217, 217, 217, 0.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), -4px -4px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5%;
  gap: 1%;
  display: flex;
  justify-content: space-between;
}

/* .overview-all-players .player-display-name {
  left: 40%;
} */
