.overview {
  background: #c0c0c0 url("../../assets/pic/overview-background.png");
  height: 100%;
  width: 100%;
  background-position: 50%, 50% !important;
  background-size: cover !important;
}

.overview-header {
  position: absolute;
  transform: translate(-50%);
  top: 8%;
  left: 50%;
  height: 26%;
}

.overview-main-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 37%;
  left: 50%;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 42px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 10%), -2px -2px 4px rgb(0 0 0 / 10%);
}
.overview-rabbit-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 64%;
  left: 20%;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 39px;
  color: #ffd36b;
}
.overview-turtle-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 64%;
  left: 82.5%;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 39px;
  color: #ffd36b;
  width: max-content;
}
.overview-score {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 68%;
  left: 50%;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 54px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 10%), -2px -2px 4px rgb(0 0 0 / 10%);
}
.overview-score-rabbit {
  color: blue;
}
.overview-score-turtle {
  color: red;
}

.overview-all-data {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 38%;
  left: 50%;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.overview-data {
  position: relative;
}
.data-rabbit {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 38%;
    left: 9.5%;
}
.data-turtle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 90%;
}
.data-sector{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}
