.product {
  background: url("../../assets/pic/product-frame.png");
  height: 45%;
  /* width: 172px; */
  background-size: 100% 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  aspect-ratio: 0.728/1;
}

.product-minus-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 5%;
  cursor: pointer;
  height: 22%;
}
.product-minus-btn img{
  height: 100%;
}

.product-plus-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: -24%;
  cursor: pointer;
  height: 22%;
}
.product-plus-btn img{
  height: 100%;
}

.product-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 14%;
}

.product-img {
  margin-top: 12px;
  height: 35%;
}
.product-img img {
  height: 100%;
}

.product-price-container {
  position: relative;
  margin-top: 8%;
  height: 17%;
}
.product-price-container img{
  height: 100%;
}

.product-price {
  position: absolute;
  transform: translate(-50%);
  top: 24%;
  left: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  height: 54%;
}

.product-price img {
  height: 100%;
  /* width: 25px; */
}

.product-buy-btn {
  position: absolute;
  bottom: -6px;
  height: 17%;
  cursor: pointer;
}
.product-buy-btn img {
  height: 100%;
}

.product-buy-btn div {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #ffd36b;
}
