.notification{
    position: absolute;
    top: 100px;
    right: 15px;
    height: 163px;
    width: 475px;
    background: #FFFFF1;
    border-radius: 32px;
    padding: 31px 61px 27px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    gap: 5px;
    /* transition: top 1s; */
}

.after{
    right: 15px;
}

.exit{
    position: absolute;
    top: 21px;
    right: 26px;
    cursor: pointer;
}
.exit:hover{
    transform: scale(1.08);
}
.indication{
    position: absolute;
    top: 46px;
    left: 29px;
}
.msg{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.sub-msg{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.view-in-explorer{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FF6D44;
}