.arena-player {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arena-position-img {
  position: absolute;
  top: 4%;
  height: 17%;
  z-index: 1;
}


.player-position{
    width: 80%;
    height: 9%;
    position: relative;
}
.arena-position-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 1.375rem;
    color: #FFFFFF;
}
.player-position img{
    width: 100%;
}

.arena-player-img {
  height: 40%;
  aspect-ratio: 1;
  margin-top: 6%; 
  width: 100%;  
  text-align: center;
  display: flex;
  align-items: center;
}
.arena-player-img img{
    max-width: 100%;
}

.arena-player-img div{
    max-width: 100%;
    color: #FFFFFF
}

.arena-rock {
  height: 22%;
  margin-top: 6%;
  width: 100%;
}
.arena-rock img{
    max-width: 100%;
}