.leaderboard{
    height: 80%;
    aspect-ratio: 1/1.3;
    transform: translate(-50%,-50%);
    border-radius: 4%;
    top: 51%;
    left: 50%;
    position: absolute;
    background: linear-gradient(180deg, #000000 0%, #0F0C29 0.01%, #302B63 50%, #24243E 100%);
    color: white;
    font-size: 1em;
    padding: 1% 0%;
    max-width: 98vw;
}
.leaderboard-exit{
    position: absolute;
    top: 3%;
    right: 5%;
    height: 3%;
    cursor: pointer;
    z-index: 1;
}
.leaderboard-exit:hover{
    transform: scale(1.07);
}
.leaderboard-first{
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 2% 0;
}
.first-frame{
    height: 90%;
}

.first-image {
    height: 40%;
    position: absolute;
    top: 27.5%;
}
.first-one{
    position: absolute;
    height: 17%;
    top: 61%;
}
.first-desc{
    top: 94%;
    font-weight: 500;
}
.leaderboard-list{
    height: 71%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
    overflow-y: auto;
    gap: 2.5%;
}
.leaderboard-player{
    height: 9%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffffff73;
    border-radius: 5px;
    padding: 0 4% 0 4%;
    background: #00000073;
    font-size: 0.9em;
}
.leaderboard-place{
    font-weight: 900;
    font-size: 1em;
    width: 5%;
    text-align: center;
}
.leaderboard-img{
    height: 80%;
}
.leaderboard-sheild{
    height: 80%;
}