.main-btn {
  position: relative;
  height: 100%;
}

.main-btn:hover{
  transform: scale(1.05);
}

.main-btn img {
    height: 100%;
    cursor: pointer;
}

.main-btn div {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 22px;
    color: #ffffff;
    cursor: pointer;
}
