.wallet-details {
  display: inline-table;
  background: #fffff1;
  border-radius: 32px;
  z-index: 5;
  position: absolute;
  top: 13%;
  right: 0.5%;
  padding: 35px 20px 20px;
  box-shadow: rgb(51 53 72 / 4%) 8px 12px 20px, rgb(51 53 72 / 2%) 4px 6px 12px,
    rgb(51 53 72 / 4%) 4px 4px 8px;
  height: 65%;
  aspect-ratio: 1/1.1;
  color: #000000;
  transition: 0.3s;
}

.wallet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  height: 6%;
}

.header-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.wallet-details-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 34%;
}
.wallet-details-icons > * {
  cursor: pointer;
  height: 24px;
}
svg{
  height: 100%;
}
.svg path{
 color: #ffffff;
}
.wallet-details-icons > *:hover {
  transform: scale(1.07);
}
.header-profile div {
  font-weight: 700;
  font-size: 1.15rem;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.wallet-details-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  gap: 15px;
  text-align: center;
}

.balance-matic {
  font-weight: 500;
  font-size: 3rem;
  line-height: 77px;
  letter-spacing: 0.1em;
}
.balance-usd {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  letter-spacing: 0.1em;
}

.wallet-details-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 9%;
  height: 54%;
}

.wallet-details-line {
  border: 1px solid #000000;
}

.wallet-details-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 2% 5%;
  border-radius: 10px;
}
/* .wallet-details-actions:hover {
  background-color: rgb(245, 246, 252);
  transition: all 125ms ease-in 0s;
} */
.wallet-details-action {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}
.darkmode-toggle {
  height: 34px;
  width: 65px;
  position: relative;
  display: block;
  background: #2d295a;
  border-radius: 33px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.darkmode-ball {
  content: "";
  height: 28px;
  width: 28px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 1;
}

.dark {
  left: 62px;
  transform: translate(-100%);
  background: #2d295a;
}

.darkmode-icon {
  position: absolute;
  top: 6px;
  left: 37px;
}
