.confirmation-modal {
  background: linear-gradient(
    225.23deg,
    #0f0c29 -3.27%,
    #0f0c29 -3.26%,
    #302b63 47.48%,
    #24243e 103.26%
  );
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  max-width: 98vw;
  aspect-ratio: 1/1.3;
  z-index: 1;
  border-radius: 40px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.error-exit {
  position: absolute;
  right: 6%;
  top: 4%;
  height: 4%;
  cursor: pointer;
}
.error-exit:hover {
  transform: scale(1.1);
}

.error-header {
  position: relative;
  left: -20%;
  margin: 7% 0 3%;
  font-size: 1em;
  font-weight: 600;
}

.confirmation-btn {
  background: #cc5a29;
  width: 80%;
  border-radius: 20px;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-top: 4%;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.confirmation-btn:hover {
  background: #ff7b56;
}

.enable:hover {
  background: rgb(172, 172, 172);
}

.enable {
  background: rgb(172, 172, 172);
  cursor: default;
}

.desc-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10%;
  text-align: center;
  background: rgba(74, 72, 169, 0.17);
  border-radius: 5%;
}
.confirmation-desc {
  font-size: 1.25em;
}
.desc-img {
  height: 50%;
  position: relative;
}
.desc-symbol {
  position: absolute;
  height: 50%;
  top: 61%;
  left: -27%;
}

.estimate-container {
  width: 90%;
  background: rgba(255, 255, 255, 0.3);
  padding: 3% 6%;
  border-radius: 20px;
  color: #000;
  font-size: 0.85em;
  margin-top: 3%;
  font-weight: 600;
}
.estimate-price {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
  padding-bottom: 2%;
}
.price-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.desc-img-attack {
  display: flex;
  height: 50%;
  width: 100%; 
  align-items: center;
  justify-content: space-between;
}
.attack-img{
  height: 100%;
  position: relative;
}

.turtle-defender{
  position: absolute;
  height: 40%;
  top: 50%;
  left: 79%;
}
.turtle-attacker{
  position: absolute;
  height: 40%;
  top: 10%;
  left: 80%;
}
.rabbit-attacker{
  position: absolute;
  height: 40%;
  top: 18%;
  left: -22%;
}
.rabbit-defender{
  position: absolute;
  height: 40%;
  top: 50%;
  left: -17%;
}
